# Database Configuration
DB_URL=jdbc:postgresql://ep-lingering-sun-anqfcprj-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require
DB_USERNAME=neondb_owner
DB_PASSWORD=YOUR_NEW_SECURE_PASSWORD_GOES_HERE
